$catNameSize: 28px;
$catOriginSize: 12px;
$catDescriptionSize: 16px;
$buttonFontSize: 14px;
$catContainer: 95vh;
$primaryTanColor: #cab88e;
$imageOpacity: 0.6;
$catImageSize: 35%;
$primaryFontColor: #363024;
$catWikiButtonHeight: 8vh;
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  padding: 50px;
}
#second-cat-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-height: $catImageSize;
  position: relative;
  &:before {
    content: "";
    background: $primaryTanColor;
    opacity: $imageOpacity;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
#first-cat-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-height: $catImageSize;
  position: relative;
  &:before {
    content: "";
    background: $primaryTanColor;
    opacity: $imageOpacity;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
#first-cat-name,
#second-cat-name {
  font-size: $catNameSize;
  font-weight: bold;
  margin-bottom: 10px;
  color: $primaryFontColor;
}

.cats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 50%;
  left: 50%;
  padding: 20px;
}
.first-cat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: $catContainer;
  margin-right: 50px;
}
.second-cat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: $catContainer;
}
.first-cat-info {
  background-color: $primaryTanColor;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}
.second-cat-info {
  background-color: #f8fdfc;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 45vh;
}
#first-cat-origin {
  color: #f8fdfc;
  font-size: $catOriginSize;
  margin-bottom: 10px;
}
#second-cat-origin {
  color: #00aa9e;
  font-size: $catOriginSize;
  margin-bottom: 10px;
}
#first-cat-description,
#second-cat-description {
  font-size: $catDescriptionSize;
  line-height: 1.7em;
  color: $primaryFontColor;
  margin-bottom: 40px;
}

#first-cat-wiki-button {
  width: 60%;
  height: $catWikiButtonHeight;
  background-color: $primaryTanColor;
  border: 4px solid #cc3300;
  color: #cc3300;
  font-weight: bold;
  font-size: $buttonFontSize;
}
#second-cat-wiki-button {
  width: 60%;
  height: $catWikiButtonHeight;
  font-weight: bold;
  background-color: #cc3300;
  color: #f8fdfc;
  border: 1px solid;
  font-size: $buttonFontSize;
}

/* mobile view */
@media only screen and (max-width: 700px) {
  #first-cat-description,
  #second-cat-description {
    font-size: 13px;
  }

  #first-cat-name,
  #second-cat-name {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cats-wrapper {
    display: block;
  }
  .first-cat-container {
    margin-right: 40px;
    width: 100%;
    height: 70vh;
    margin-bottom: 40px;
  }
  .second-cat-container {
    width: 100%;
    flex-direction: column-reverse;
    height: 70vh;
    margin-bottom: 40px;
  }
  .first-cat-info,
  .second-cat-info {
    height: 30vh;
  }

  #first-cat-origin,
  #second-cat-origin {
    margin-bottom: 30px;
  }

  #first-cat-wiki-button,
  #second-cat-wiki-button {
    font-size: 12px;
    height: 4vh;
  }
}
